#RankB { grid-area: RB;}
#NameB { grid-area: NB; }
#ScoreB { grid-area: SB; }
#LikeB { grid-area: LB; }
#LikePic { grid-area: LP; }
#CommentPic { grid-area: CP; }

#Rank {
	display: grid;

	grid-template-areas:
		'RB NB SB LB LP CP';
	grid-gap: 10px;
	background-color: #ffffff;
	/* padding-top: 30px; */
	padding-left: 20px;
	border-radius: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	font-weight: 400px;
	font-size: 30px;
	text-align: center;
}
/* #RankB { 
	padding-left: 10px;
} */
#NameB { 
	padding-left: 25px;
}
#ScoreB { 
	padding-left: 10px;
 }
#LikeB { 
	padding-left: 30px;
 }
#LikePic { 
	padding-left: 10px;
 }
#CommentPic { 
	padding-left: 10px;
 }
.RankNumClass{
	padding-top: 20px;

}
.NameClass{
	padding-top: 20px;
}
.ScoreClass{
	padding-top: 20px;
}
.likeClass{
	padding-top: 20px;
}
.AddlikeClass{
	width: 45px;
	height:	45px;
	padding-top: 6px;
}
.CommentClass{
	width: 40px;
	height:	40px;
	padding-top: 8px;
}
/* #likeScore{
	padding-top: 20px;
} */
body{
	background: linear-gradient(180deg, #23C8FF 0%, #E0FAFF 100%);
}
#Header_wep{
	width: 100%;
	display: grid;
	grid-template-columns: 60% auto;
	padding-bottom: 20px;
}
#item2{
	display: grid;
	grid-template-columns: 50% auto;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	font-weight: 400px;
	font-size: 40px;
	line-height: 73px;
	text-align: center;
	margin: auto;
	padding-left: 90px;
	color: #ffffff;
}
#HoloBard{
	width: 571px;
	height: 57px;
	left: 480px;
	top: 38px;

	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	font-weight: 800;
	font-size: 50px;
	line-height: 61px;
	display: flex;
	align-items: flex-end;
	padding-left: 20px;

	color: #0081FF;
}
a{
	color: #ffffff;
}
#LOGOnNameWeb{
	width: 220px;
	display: grid;
	grid-template-columns: 50% auto ;
	padding-left: 20px;
}
#logout_n_play{
	width: 100;
	margin-top: 35px;
	margin-left: 100px;
	
}
#Username_all{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	font-weight: 400px;
	font-size: 60px;
	line-height: 73px;
	text-align: center;
	padding-top: 20px;
	color: #ffffff;
}
img{
	width:100%;
	height: 100%;
}
.item3{
	width: 100%;
	display: grid;
	grid-template-columns: 65% auto;
}
#commentF{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	font-weight: 400px;
	font-size: 30px;
	color: #ffffff;
}
#posting{
	text-align: center;
}
#rule_set{
	margin: auto;
	align-items: center;
}
#textmsg{
	width: 477px;
	height: 202px;
	border:4px solid rgb(255, 255, 255); ;
	border-radius: 10px;
	font-size: 30px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	margin: auto;
}
#feed-container2{
	border:4px solid rgb(255, 255, 255); ;
	background-color: #ffffff;
	background: #FFFFFF;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	font-weight: 400px;
	font-size: 20px;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 20px;
	width: fit-content;
	color: #0081FF;
}
.postmsg{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	font-weight: 400px;
	font-size: 20px;
	border-radius: 20px;
    width: 50%;
    background-color: #FEBE9A;
    
}
.postuser {
    
}
.hidden{
	display: none;
}

@media only screen and (max-width: 768px){
	.grid-container221{
        display: grid;
        grid-template-columns: 50% auto;
        grid-gap: 10px;
    }
}