#container{
	padding-top: 100px;
	margin: auto;
	width: 200px;
}

.form{
	
	font-size:18px;
}

.form input{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size:18px;
}

#errordisplay{
	/*margin-top: -20px;*/
	font-size:12px;
	color: #EE0019;
}


